# Port number for the application server
PORT=""

# MongoDB connection string
MONGODB_URI=""

# REDIS CONFIGURATION
REDIS_HOST=""
REDIS_PORT=""
REDIS_PASSWORD=""

# FRONTEND CONFIGURATION
FRONT_END_BASE_URL_1=""
FRONT_END_BASE_URL_2=""

# JWT TOKEN CONFIGURATION
JWT_SECRET_KEY=""
JWT_EXPIRES_IN=""
JWT_REFRESH_SECRET_KEY=""
JWT_REFRESH_EXPIRY_IN=""

# INITIAL ADMIN SETUP
INITIAL_ADMIN_EMAIL=""
INITIAL_ADMIN_PASSWORD=""
